#home
{
    background-image: url(../images/bg_header.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vw;
    
}
 
.navbar-brand div {
    width: 40%;
}

.navbar-brand p {
    margin-bottom: 0;
    font-size: 24px;
    padding: 2%;
}